* {
    margin: 0;
    padding: 0;
}

body {
  margin: 2px;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.app-container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.header {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

body.light {
  background: #f5f5f5;
  color: #111;
}

/* DARK MODE */
body.dark {
  background: #121212;
  color: #fff;
}